<html>
<head>
<title>Caesar Cipher</title>
</head>
<body>
<h2>
Caesar Cipher Secret Coding
</h2>
<p>
  <form>
    <input type='text' name='phrase' placeholder='Cipher Phrase' />
    <input type='number' name='shifting' placeholder='Shifting Number'/>
    <input type='submit' value='Shift!' />
  </form>
</p>
<p>
Your secret message is:
<%= message %>
</p>
</body>
</html>